.contato {
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
}

.contato a {
  color: rgb(148, 6, 6);
  text-decoration: none;
  font-weight: bold;
  justify-items: space-between;
  padding: 1rem;
  margin-top: 2rem;
}

@media (max-width: 576px) {
  .contato {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 5rem;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: #06080a;
  }

  .contato a {
    color: rgb(148, 6, 6);
    text-decoration: none;
    font-weight: bold;
    justify-items: space-between;
    padding: 1rem;
    margin-top: 2rem;
  }

  .contato a:hover {
    text-decoration: underline;
  }
}
