body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5652529e;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.user-list,
.post-list,
.comment-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.user-card,
.post-card,
.comment-card {
  border: 1px solid #0a000033;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #4d4d4d;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.user-card:hover,
.post-card:hover,
.comment-card:hover {
  background-color: #6b6b6b;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.15);
}
