.details {
  width: 75%;
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details h2 {
  font-size: 2rem;
  color: #0056b3;
  font-weight: 600;
}

.details p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}
